@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/RobotoCondensed-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Condensed Bold";
    src: url("../fonts/RobotoCondensed-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #344B5C;
}

.container{
    padding-top: 40px;
    max-width: 1800px;
    margin: 0 auto;
}

h1, h2, h3 {
   font-family: "Roboto Condensed";
   color: #344B5C;
   font-weight: normal;
}

.hidden{
    display: none;
}

.breadcrumbs{
    display: flex;
    list-style:none;
    margin: 0;
    padding: 0;
}

.breadcrumbs__item{
    font-size: 12px;
    font-style: normal;
    color: #8FADC1;
    margin-right: 10px;
    position: relative;
}

.breadcrumbs__item::after{
    content: '/';
    margin-left: 10px;
}

.breadcrumbs__item--last::after{
      content: '';
}

.breadcrumbs__url{
    text-decoration: none;
    color: #8FADC1;
}

.breadcrumbs__url:hover{
    color: #288BF0;
}