@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/RobotoCondensed-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Condensed Bold";
    src: url("../fonts/RobotoCondensed-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #344B5C;
}
.container{
    
}

h1, h2, h3 {
   font-family: "Roboto Condensed";
   color: #344B5C;
}

.hidden{
    display: none;
}
