<div class="container">
<div class="wrapper">
<div class="aside">
<ul class="aside-header">
    <li class="aside-header__title aside-header__title--active">Каталог</li>
    <li class="aside-header__title">Поиск по параметрам</li>
</ul>
<div class="catalog">
<ul class="catalog-items">
    <li class="catalog-items__item"><a href="#" class="catalog-items__url">Комплектующие (6470)</a>
    <ul class="catalog-items">
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">Корпуса (19)</a>
                <ul class="catalog-items">
                    <li class="catalog-items__item"><a href="#" class="catalog-items__url">ACCORD (19)</a></li>
                    <li class="catalog-items__item"><a href="#" class="catalog-items__url">AeroCool (72)</a></li>
                    <li class="catalog-items__item"><a href="#" class="catalog-items__url">BaseTech (9)</a></li>
                    <li class="catalog-items__item"><a href="#" class="catalog-items__url">be quite! (12)</a></li>
                    <li class="catalog-items__item"><a href="#" class="catalog-items__url">ACCORD (19)</a></li>
                    <li class="catalog-items__item"><a href="#" class="catalog-items__url">ACCORD (19)</a></li>
                    <li class="catalog-items__item"><a href="#" class="catalog-items__url">AeroCool (72)</a></li>
                    <li class="catalog-items__item"><a href="#" class="catalog-items__url">BaseTech (9)</a></li>
                    <li class="catalog-items__item"><a href="#" class="catalog-items__url">be quite! (12)</a></li>
                    <li class="catalog-items__item"><a href="#" class="catalog-items__url">ACCORD (19)</a></li>
                </ul>
            </li>
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">AeroCool (72)</a></li>
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">BaseTech (9)</a></li>
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">be quite! (12)</a></li>
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">ACCORD (19)</a></li>
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">ACCORD (19)</a></li>
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">AeroCool (72)</a></li>
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">BaseTech (9)</a></li>
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">be quite! (12)</a></li>
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">ACCORD (19)</a></li>
    </ul>
    </li>
    <li class="catalog-items__item"><a href="#" class="catalog-items__url">Компьютеры (647)</a>
        <ul class="catalog-items">
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">ACCORD (19)</a></li>
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">AeroCool (72)</a></li>
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">BaseTech (9)</a></li>
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">be quite! (12)</a></li>
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">ACCORD (19)</a></li>
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">ACCORD (19)</a></li>
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">AeroCool (72)</a></li>
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">BaseTech (9)</a></li>
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">be quite! (12)</a></li>
            <li class="catalog-items__item"><a href="#" class="catalog-items__url">ACCORD (19)</a></li>
        </ul>
    </li>
</ul>
</div>
</div>   
<div class="pricelist">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__url">Главная</a></li>
        <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__url">Комплектующие</a></li>
        <li class="breadcrumbs__item breadcrumbs__item--last"><a href="#" class="breadcrumbs__url">Корпуса</a></li>
    </ul>
    <h1>Корпуса</h1>
    <div class="pricelist-sorting">
        <span class="pricelist-sorting__title">Сортировка:</span>
        <a class="pricelist-sorting__url" href="#">цена</a>
        <a class="pricelist-sorting__url pricelist-sorting__url--active" href="#">наличие + цена</a>
        <a class="pricelist-sorting__url" href="#">наличие + наименование</a>
        <a class="pricelist-sorting__url" href="#">наименование</a>
    </div>
    <div class="pages-block">
    <ul class="pages">
        <li class="pages__page"><a href="#" class="pages__url pages__url--active">1</a></li>
        <li class="pages__page"><a href="#" class="pages__url">2</a></li>
        <li class="pages__page"><a href="#" class="pages__url">3</a></li>
        <li class="pages__page">...</li>
        <li class="pages__page"><a href="#" class="pages__url">6</a></li>
    </ul>
    <div class="items-on-page-block">
    <span class="items-on-page__info">Показать:</span>
        <ul class="items-on-page">
            <li class="items-on-page__item">25</li>
            <li class="items-on-page__item">50</li>
            <li class="items-on-page__item">100</li>
            <li class="items-on-page__item items-on-page__item--last">Все</li>
        </ul>
    </div>
    </div>
    <div class="products-list">
        <div class="product-item">
            <div class="product-item__img-block">
                <a href="#"><img src="./images/product.png" alt=""></a>
            </div>
            <div class="product-item__name-block">
            <a class="product-item__name" href="#">Блоки питания 300W TFX Seasonic 300TGS, 80+ Gold (SSP-300TGS)</a>
                <div class="product-item__articul-block">
                    <div class="product-item__check">
                        <input type="checkbox" id="product123"> <label for="product123" class="product-item__text">сравнить</label>
                    </div>
                    <div class="product-item__articul">
                        <span>артикул: 538799 / код: SSP-300TGS</span>
                    </div>
                </div>
            </div>
            <div class="product-item__price-block">
                <span>4 500 руб.</span>
            </div>
            <div class="product-item__cart-block">
                <button class="product-item__btn">Купить</button>
            </div>
        </div>
        <div class="product-item">
            <div class="product-item__img-block">
                <a href="#"><img src="./images/product.png" alt=""></a>
            </div>
            <div class="product-item__name-block">
            <a class="product-item__name" href="#">Блоки питания 300W TFX Seasonic 300TGS, 80+ Gold (SSP-300TGS)</a>
                <div class="product-item__articul-block">
                    <div class="product-item__check">
                        <input type="checkbox" id="product123"> <label for="product123" class="product-item__text">сравнить</label>
                    </div>
                    <div class="product-item__articul">
                        <span>артикул: 538799 / код: SSP-300TGS</span>
                    </div>
                </div>
            </div>
            <div class="product-item__price-block">
                <span>1 450 500 руб.</span>
            </div>
            <div class="product-item__cart-block">
                <button class="product-item__btn">Купить</button>
            </div>
        </div>
        <div class="product-item">
            <div class="product-item__img-block">
                <a href="#"><img src="./images/product.png" alt=""></a>
            </div>
            <div class="product-item__name-block">
            <a class="product-item__name" href="#">Блоки питания 300W TFX Seasonic 300TGS, 80+ Gold (SSP-300TGS)</a>
                <div class="product-item__articul-block">
                    <div class="product-item__check">
                        <input type="checkbox" id="product123"> <label for="product123" class="product-item__text">сравнить</label>
                    </div>
                    <div class="product-item__articul">
                        <span>артикул: 538799 / код: SSP-300TGS</span>
                    </div>
                </div>
            </div>
            <div class="product-item__price-block">
                <span>145 500 руб.</span>
            </div>
            <div class="product-item__cart-block">
                <button class="product-item__btn">Купить</button>
            </div>
        </div>
        <div class="product-item">
            <div class="product-item__img-block">
                <a href="#"><img src="./images/product.png" alt=""></a>
            </div>
            <div class="product-item__name-block">
            <a class="product-item__name" href="#">Блоки питания 300W TFX Seasonic 300TGS, 80+ Gold (SSP-300TGS)</a>
                <div class="product-item__articul-block">
                    <div class="product-item__check">
                        <input type="checkbox" id="product123"> <label for="product123" class="product-item__text">сравнить</label>
                    </div>
                    <div class="product-item__articul">
                        <span>артикул: 538799 / код: SSP-300TGS</span>
                    </div>
                </div>
            </div>
            <div class="product-item__price-block">
                <span>4 500 руб.</span>
            </div>
            <div class="product-item__cart-block">
                <button class="product-item__btn">Купить</button>
            </div>
        </div>
        <div class="product-item">
            <div class="product-item__img-block">
                <a href="#"><img src="./images/product.png" alt=""></a>
            </div>
            <div class="product-item__name-block">
            <a class="product-item__name" href="#">Блоки питания 300W TFX Seasonic 300TGS, 80+ Gold (SSP-300TGS)</a>
                <div class="product-item__articul-block">
                    <div class="product-item__check">
                        <input type="checkbox" id="product123"> <label for="product123" class="product-item__text">сравнить</label>
                    </div>
                    <div class="product-item__articul">
                        <span>артикул: 538799 / код: SSP-300TGS</span>
                    </div>
                </div>
            </div>
            <div class="product-item__price-block">
                <span>4 500 руб.</span>
            </div>
            <div class="product-item__cart-block">
                <button class="product-item__btn">Купить</button>
            </div>
        </div>
        <div class="product-item">
            <div class="product-item__img-block">
                <a href="#"><img src="./images/product.png" alt=""></a>
            </div>
            <div class="product-item__name-block">
            <a class="product-item__name" href="#">Блоки питания 300W TFX Seasonic 300TGS, 80+ Gold (SSP-300TGS)</a>
                <div class="product-item__articul-block">
                    <div class="product-item__check">
                        <input type="checkbox" id="product123"> <label for="product123" class="product-item__text">сравнить</label>
                    </div>
                    <div class="product-item__articul">
                        <span>артикул: 538799 / код: SSP-300TGS</span>
                    </div>
                </div>
            </div>
            <div class="product-item__price-block">
                <span>4 500 руб.</span>
            </div>
            <div class="product-item__cart-block">
                <button class="product-item__btn">Купить</button>
            </div>
        </div>
    </div>
    <div class="pages-block">
    <ul class="pages">
        <li class="pages__page"><a href="#" class="pages__url pages__url--active">1</a></li>
        <li class="pages__page"><a href="#" class="pages__url">2</a></li>
        <li class="pages__page"><a href="#" class="pages__url">3</a></li>
        <li class="pages__page">...</li>
        <li class="pages__page"><a href="#" class="pages__url">6</a></li>
    </ul>
    <div class="items-on-page-block">
    <span class="items-on-page__info">Показать:</span>
        <ul class="items-on-page">
            <li class="items-on-page__item">25</li>
            <li class="items-on-page__item">50</li>
            <li class="items-on-page__item">100</li>
            <li class="items-on-page__item items-on-page__item--last">Все</li>
        </ul>
    </div>
    </div>
</div>
</div>
</div>
