<footer class="footer-bottom-block">
    <div class="copyright-footer-block">
        <p class="copyright-footer-block__copyright">© B2BCORP 2010 - 2020</p>
        <p class="copyright-footer-block__firm">ООО "Интернет - технологии"<br>ИНН/КПП 222121122/1233123</p>
    </div>
    <div class="feedback-footer-block">
        <p class="feedback-footer-block__text">Не уверены в выборе?</p>
        <a href="#" class="feedback-footer-block__url">Пишите, подскажем!</a>
    </div>
    <div class="phone-footer-block">
        <p class="phone-footer-block__text">8-800-707-3234 <span class="phone-footer-block__info">Бесплатный звонок по России</span></p>
        <a href="#" class="phone-footer-block__url">Перезвонить? Запросто</a>
    </div>
</footer>